<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Cresi</title>
  <style>
    .header {
      background-image: url('/assets/header-bg.png');
      background-size: cover;
      height: 15vh;
      margin-bottom: 3vh;
    }

    .header img {
      width: 20%;
      align-self: center;
    }

    .roulette-container {
      text-align: center;
      margin-top: 10vh;
    }

    .roulette {
      width: 100%;
      max-width: 600px;
    }

    .container {
      background-color: #4CB9FF;
      min-height: 100vh;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
      <div class="row header">
        <img src="/assets/logo.png" alt="Cresi">
      </div>

      <div class="row" v-if="page === 'roulette'">
        <div class="col-md-12 roulette-container">
          <img class="roulette" src="/assets/roulette.png">
          <img class="roulette-button" src="/assets/roulette-button.png">
        </div>
        <a href="#" v-on:click="throwRoulette">Dame pregunta</a>
      </div>
      <div v-if="page === 'question'">
      </div>
      <div v-if="page === 'answer'">Acá van las respuestas</div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        host: 'http://10.250.0.66:8080',
        page: 'roulette'
      },
      methods: {
        goQuestion: function () {
          this.page = 'question'
        },
        getRandomArbitrary: function (min, max) {
          return Math.floor(Math.random() * (max - min) + min);
        },
        throwRoulette: function () {
          this.getQuestion(this.getRandomArbitrary(0, 5))
        },
        getQuestion: function (category) {
          fetch(`${this.host}/preguntas?categoria=${category}`)
            .then(res => res.json())
            .then(question => {
              this.question = question
              this.goQuestion()
          })
        }
      }
    })
  </script>
</body>
</html>
