{{# partial "titulo" }}	
	<title>Cresi</title>
{{/partial}}

	
{{# partial "contenido" }}	  

  <div class="logo"><img src="../assets/logo-cresi-inicio.png" alt=""></div>

  <h1 id="text">Conocé para aprender más</h1>
{{/partial}}



{{> layout.hbs }}