{{# partial "titulo" }}	
	<title>Cresi</title>
{{/partial}}

	
{{# partial "contenido" }}	  
 <div class="logo"><img src="../assets/logo-cresi-inicio.png" alt=""></div>
    <h1 id="text">Conocé para aprender más</h1>
<a href="/preguntas"><div class="circulo"><img src="../assets/play.png" alt=""></div></a>
    <nav>
        <ul>
            <li class="active"><a href=""><img src="../assets/iconos/jugar.svg"></a></li>
            <li><a href=""><img src="../assets/iconos/buscar.svg"></a></li>
            <li><a href=""><img src="../assets/iconos/preguntar.svg"></a></li>
            <li><a href=""><img src="../assets/iconos/info.svg"></a></li>
        </ul>
    </nav>

</div>
    
{{/partial}}



{{> layout.hbs }}