<html>
  <head>
    {{# block "titulo" }}
    {{/block}}
     <link rel="stylesheet"  href="main.css"/>
  
   <!-- <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
 <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed" rel="stylesheet">
  <link rel="stylesheet"  href="main.css">
 
 <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

  </head>
  <body>
  

  <div class="container">

    
    {{# block "contenido" }}
    {{/block}}
    
  </div>
  
  <nav>
    <ul>
      <li>ASD</li>
    </ul>
  </nav>
  </body>
</html>