{{# partial "titulo" }}	
	<title>Preguntas</title>
{{/partial}}
		
{{# partial "contenido" }}	

<p>
	{{enunciado}}
</p>

<ul>
{{#opciones}}
	<li><a href="/preguntas/{{ ../id }}/resultados/{{ id }}">{{texto}}</a></li>
{{/opciones}}
</ul>

{{/partial}}
				
{{> layout.hbs }}