{{# partial "titulo" }}	
	<title>Preguntas</title>
{{/partial}}
		
{{# partial "contenido" }}	

<h1>
{{#if opcion.correcta }}
Correcto
{{ else }}
Incorrecto
{{/if}}
</h1>

<blockquote>{{ pregunta.explicacion }}</blockquote>

<a href="/">Finalizar</a>
<a href="/preguntas">Seguir</a>

{{/partial}}
				
{{> layout.hbs }}